# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Base de datos
*.db
*.sqlite
*.sqlite3

# Configuración
.env
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.tmp
*.bak
*.cache
